<div class="app-card-container">
  <div class="card">
    <h1>About us</h1>

    <hr>

    <div class="row">

      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img'%>
      </div>

      <div class="col-md-8">
          <p>Hi My name is Takayuki Doi. I was working in Bank and now I am half in ed-tech and technology.My dream is to have a great dineer with my beautiful wife and kids. </p>

          <p>Hi My name is Takayuki Doi. I was working in Bank and now I am half in ed-tech and technology.My dream is to have a great dineer with my beautiful wife and kids. </p>

          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controller="jobHistory"
            >
            Job History
            </button>

            <button
              class="btn btn-info"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controller="education"
            >
            Education
            </button>

          </p>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                thisisapen
              </div>
              <div class="card card-block">
                thisisapen2222
              </div>
            </div>

            <div class="collapse" id="education">
              <div class="card card-block">
                thisisapenedu
              </div>
              <div class="card card-block">
                thisisapen2222edu
              </div>
            </div>
          </p>
      </div>

    </div>
  </div>
</div>

