<div class="app-card-container">
  <div class="card">
    <h1>Masaho Ono | 小野正穂について</h1>

    <hr>

    <div class="row">

        <div class="col-md-4">
          <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img'%>

          <div class="skills">
            <% @skills.each do |skill| %>
              <div class="skill">
                <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning"
                      role=""
                      aria-valuenow="<%= skill.percent_utilized %>"
                      aria-valuemax=100
                      style="width: <%= skill.percent_utilized %>%" >
                </div>
              </div>

              </div>
           <% end %>
        </div>
      </div>
      <div class="col-md-8">
          <p>小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。</p>

          <p>小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。小野正穂です。栃木県益子町で陶芸をやっています。</p>

          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controller="jobHistory"
            >
            経歴
            </button>

            <button
              class="btn btn-info"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controller="education"
            >
            受賞歴
            </button>

          </p>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                横浜国立大学卒業
              </div>
              <div class="card card-block">
                キャノンに新卒入社
              </div>
              <div class="card card-block">
                益子町に移住して陶芸を始める
              </div>
            </div>

            <div class="collapse" id="education">
              <div class="card card-block">
                2009年 フランス国民栄誉賞受賞
              </div>
              <div class="card card-block">
                2011年 人間国宝認定を受ける
              </div>
              <div class="card card-block">
                2015年 紫綬褒章を受賞
              </div>
            </div>
          </p>
      </div>

    </div>
  </div>
</div>

