
<h1>Pages#contact</h1>
<div class="row">
    <div class="col-md-6">
      <p><%= number_to_phone "5555555555" %></p>
      <p><%= number_to_currency "150" %></p>
      <p><%= number_with_delimiter "1507923592325" %></p>
    </div>
    <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.3822519216124!2d-122.2923990494586!3d37.546056932959985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9ee04ff5be43%3A0x9f65fb2666684888!2sEdmodo!5e0!3m2!1sja!2sjp!4v1492844721501" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>