<div class="inner cover">
  <h1 class="cover-heading">Welcome to my laboratory</h1>
<div>
<div>
  <p class="lead">益子を拠点に活躍する陶芸家です。素材や土の風合いを大胆に残した作風で、見るものを魅了します。見れば見るほど、触れば触るほど新しい発見がうまれてくる作品の数々には注目です。</p>
  <p class="lead"></p>
</div>
<div>
  <p>
    <a href="<%= portfolios_path %>" class="btn btn-lg btn-primary">作品を見る</a>
    <%= link_to "作家について", about_path, class:"btn btn-lg btn-info" %>
  </p>
</div>
